.homekit.state
.ios.conf
.ssh/
.storage/
esphomeyaml/
.uuid
appdaemon/compiled
appdaemon/apps/__pycache__/
custom_components/__pycache__/
entity_registry.yaml
fullchain.pem
home-assistant.log
ip_bans.yaml
known_devices.yaml
privkey.pem
secrets.yaml
tts/
deps/
.DS_Store

