.homekit.state
.ios.conf
.tileromanpetersnl.tile.conf 
.ssh/
.storage/
!.storage/lovelace
.stignore
.stversions/
esphomeyaml/
.uuid
appdaemon/appdaemon.yaml
appdaemon/compiled
appdaemon/apps/__pycache__/
custom_components/__pycache__/
groups/persons.yaml
customize/persons.yaml
entity_registry.yaml
fullchain.pem
home-assistant.log
ip_bans.yaml
known_devices.yaml
privkey.pem
secrets.yaml
tts/
deps/
.DS_Store
www/
www/*
icloud/
icloud/*
appdaemon/appdaemon.yaml
zigbee2mqtt_configuration.yaml
www/custom-lovelace/
google_calendars.yaml
.google.token
.tile_romanpeters_nl.tile.conf
zones.yaml
*.pyc
minecraft.log
audio/
plex.conf
