# Fake Secrets for Travis testing

latitude: '0'
longitude: '0'
email: 'mail@mail.com'
password: 'password'
api_password: 'password'
minecraft_server: 'mc.server'
homekit_pin: '000-00-000'
n26_username: 'mail@mail.com'
n26_password: 'password'
apple_tv_id: '00000000'
xiaomi_aqara_key: '00000000'
xiaomi_plug_token: '00000000'
alarm_code: '0000'

# IPs
broadlink_ip: '000.000.0.000'
broadlink_mac: '00:aa:00:aa:00:aa'
limitlessled_ip: '000.000.0.000'
broadlinkmp1_ip: '000.000.0.000'
broadlinkmp1_mac: '00:aa:00:aa:00:aa'
apple_tv_ip: '000.000.0.000'
xiaomi_plug_ip: '000.000.0.000'
xiaomi_aqara_mac: '00:aa:00:aa:00:aa'
