# Fake zones for Travis testing
- name: Home
  latitude: 0
  longitude: 0
  radius: 250
- name: Sticky
  latitude: 0
  longitude: 0
  radius: 40
- name: University
  latitude: 0
  longitude: 0
  radius: 430
- name: Parents
  latitude: 0
  longitude: 0
  radius: 100